<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE TTMSAuthor>
<TTMSAuthor>

  <!--************************系统设置权限配置开始***************************-->
  <!--用户管理-->
  <container areaName="" controllerName="system" actionName="SysUserMgtResult">
    <!--展示页面-->
    <subrights  controllerName="system" actionName="SysUserMgtResult"/>
    <!--修改用户信息-->
    <subrights  controllerName="system" actionName="ModifyUserInfo"/>
    <!--删除用户-->
    <subrights  controllerName="system" actionName="DeleteUser"/>
    <!--获得用户列表-->
    <subrights  controllerName="system" actionName="GetALlUserList"/>

    
  </container>

  <!--角色管理-->
  <container areaName="" controllerName="system" actionName="SysRoleMgtResult">
    <!--展示页面-->
    <subrights controllerName="system" actionName="SysRoleMgtResult"/>
    <!--获得角色列表-->
    <subrights controllerName="system" actionName="GetRoleList"/>
    <!--获得角色键值对列表-->
    <subrights controllerName="system" actionName="GetRoleItemList"/>
    <!--修改角色-->
    <subrights controllerName="system" actionName="ModifyRoleInfo"/>
    <!--获得角色树-->
    <subrights controllerName="system" actionName="GetFuncTree"/>
    <!--获得所有非租户权限树-->
    <subrights controllerName="system" actionName="GetAllNotTenantFuncsTree"/>
    <!--删除角色-->
    <subrights controllerName="system" actionName="DeleteRole"/>
    <!--获得角色树-->
    <subrights controllerName="system" actionName="GetRoleSelect2List"/>
  </container>


  <!--培训班管理-->
  <container areaName="" controllerName="Training" actionName="TrainingList">
    <!--展示页面-->
    <subrights controllerName="Training" actionName="TrainingList"/>
    <!--获得培训班列表-->
    <subrights controllerName="Training" actionName="GetTrainingList"/>
    <!--编辑培训班信息-->
    <subrights controllerName="Training" actionName="ModifyTrainingInfo"/>
    <!--培训班详情-->
    <subrights controllerName="Training" actionName="TrainingDetail"/>
    <!--培训班学员列表展示页-->
    <subrights controllerName="Training" actionName="StudentList"/>
    <!--获取培训班学员列表-->
    <subrights controllerName="Training" actionName="GetStudentList"/>
    <!--课时安排-->
    <subrights controllerName="Training" actionName="TrainingTimeList"/>
    <!--获得课时安排-->
    <subrights controllerName="Training" actionName="GetTrainingTimeList"/>

    <!--删除考勤日期-->
    <subrights controllerName="Training" actionName="DeleteTrainDate"/>
    <!--添加考勤日期-->
    <subrights controllerName="Training" actionName="AddTrainingDate"/>

    <!--编辑考勤日期-->
    <subrights controllerName="Training" actionName="EditTrainingDate"/>
    <!--判断查询日期是否存在-->
    <subrights controllerName="Training" actionName="IsExistsTrainDate"/>
    <!--获取考勤时间段-->
    <subrights controllerName="Training" actionName="GetTrainTimes"/>
    <!--考勤时间段详情-->
    <subrights controllerName="Training" actionName="TrainDateDetail"/>
    <!--生成报名培训班二维码-->
    <subrights controllerName="Training" actionName="TrainingGenerate"/>

    <!--无考勤记录列表-->
    <subrights controllerName="Training" actionName="TrainingAbsentList"/>

    <!--获取无考勤记录学员-->
    <subrights controllerName="Training" actionName="GetAbsentStudentList"/>

    <!--编辑学员信息-->
    <subrights controllerName="Training" actionName="ModifySignUpInfo"/>


  </container>

  <!--考勤导入-->
  <container areaName="" controllerName="Training" actionName="ImportRecords">
    <!--展示页面-->
    <subrights controllerName="Training" actionName="ImportRecords"/>
    <!--上传考勤记录-->
    <subrights controllerName="Training" actionName="TrainUpLoad"/>
  </container>

  <!--考勤统计-->
  <container areaName="" controllerName="Training" actionName="TTMSStatistics">
    <!--展示页面-->
    <subrights controllerName="Training" actionName="TTMSStatistics"/>
    <!--考勤统计查询-->
    <subrights controllerName="Training" actionName="TTMSStaticSearch"/>


    <!--获取培训班最小日期-->
    <subrights controllerName="Training" actionName="GetMinDate"/>
    <!--获取培训班最大日期-->
    <subrights controllerName="Training" actionName="GetMaxDate"/>

    <!--考勤统计下载-->
    <subrights controllerName="Training" actionName="TTMSStaticDown"/>
    <!--获取时间段-->
    <subrights controllerName="Training" actionName="GetDateTimes"/>

    <!--获取培训班-->
    <subrights controllerName="Training" actionName="GetTrainingAjax"/>


  </container>


  <!--学员考勤-->
  <container areaName="" controllerName="Training" actionName="StudentTTMS">
    <!--展示页面-->
    <subrights controllerName="Training" actionName="StudentTTMS"/>
    <!--学员考勤查询-->
    <subrights controllerName="Training" actionName="StudentStaticSearch"/>


    <!--获取培训班最小日期-->
    <subrights controllerName="Training" actionName="GetMinDate"/>
    <!--获取培训班最大日期-->
    <subrights controllerName="Training" actionName="GetMaxDate"/>

    <!--学员考勤下载-->
    <subrights controllerName="Training" actionName="StudentStaticDown"/>
    <!--获取时间段-->
    <subrights controllerName="Training" actionName="GetDateTimes"/>
    <!--获取培训班-->
    <subrights controllerName="Training" actionName="GetTrainingAjax"/>



  </container>



</TTMSAuthor>
