<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE TTMSAuthor>
<TTMSAuthor>

  <!--************************系统设置权限配置开始***************************-->
  <!--用户管理-->
  <container areaName="" controllerName="system" actionName="SysUserMgtResult">
    <!--展示页面-->
    <subrights  controllerName="system" actionName="SysUserMgtResult"/>
    <!--修改用户信息-->
    <subrights  controllerName="system" actionName="ModifyUserInfo"/>
    <!--删除用户-->
    <subrights  controllerName="system" actionName="DeleteUser"/>
    <!--获得用户列表-->
    <subrights  controllerName="system" actionName="GetALlUserList"/>


  </container>
  
</TTMSAuthor>
