<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE TTMSAuthor>
<TTMSAuthor>

  <!--************************系统设置权限配置开始***************************-->
  <!--Banner管理-->
  <container areaName="" controllerName="Banner" actionName="BannerMgtResult">
    <!--展示页面-->
    <subrights  controllerName="Banner" actionName="BannerMgtResult"/>
  </container>
  
</TTMSAuthor>
